---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import heroIllustration from "../assets/hero-pirate.png";
---

<Layout
  title="Galleon"
  description="Set sail with Galleon Attributes to bring user data from Xano onto your Webflow site—starting with public data, and soon expanding to personalized content for logged-in users."
>
  <main class="mx-auto px-6 py-24 lg:px-8">
    <header
      class:list={[
        "mx-auto lg:max-w-6xl",
        "flex flex-col items-center justify-center gap-4 lg:flex-row-reverse",
        "text-center lg:text-left",
      ]}
    >
      <div class="max-w-xl">
        <h2 class="font-brand text-base/7 font-semibold text-orange-600">
          Galleon Tools
        </h2>
        <p
          class="text-4xl font-semibold tracking-tight text-balance text-gray-950 sm:text-5xl"
        >
          Bring user data to your site, securely 🔐
        </p>
      </div>

      <div class="max-w-lg">
        <Image
          src={heroIllustration}
          alt="Pirate character next to a browser window with skull icons"
          class="mx-auto w-full"
        />
      </div>
    </header>

    <!-- Tools -->
    <section
      class:list={[
        "min-h-3xl mx-auto max-w-7xl",
        "grid grid-cols-1 grid-rows-6 gap-4 lg:grid-cols-5 lg:grid-rows-3",
        "[&>*]:bg-white [&>*]:p-6 [&>*]:shadow [&>*]:ring-1 [&>*]:ring-black/5",
      ]}
    >
      <!--- Galleon Gateway --->
      <div
        class:list={[
          "row-span-3 lg:col-span-3",
          "rounded-t-2xl lg:rounded-none lg:rounded-l-2xl",
          "flex flex-col",
        ]}
      >
        <h2 class="mt-2 text-lg font-medium tracking-tight text-gray-950">
          Galleon Gateway
        </h2>
        <p class="mt-2 max-w-lg text-base/6 text-gray-600">
          Gateway sits between your website<sup>1</sup> and your data storage<sup
            >2</sup
          >, ensuring only the rightful crew members<sup>3</sup> glimpse their share
          of the booty!
        </p>
        <small class="mt-auto"><sup>1</sup> Webflow, Framer, Next, etc.</small>
        <small><sup>2</sup> Google Sheet, Airtable, Notion, etc.</small>
        <small><sup>3</sup> Your Outseta or Memberstack users.</small>
      </div>

      <!--- Galleon Attributes --->
      <div
        class:list={[
          "row-span-2 lg:col-span-2",
          "lg:rounded-none lg:rounded-tr-2xl",
          "flex flex-col",
        ]}
      >
        <h2 class="mt-2 text-lg font-medium tracking-tight text-gray-950">
          Galleon Attributes
        </h2>
        <p class="mt-2 max-w-lg text-base/6 text-gray-600">
          Interact with Galleon Gateway* using data attributes.
        </p>

        <small class="mt-auto flex flex-wrap items-center gap-2">
          <span>Or any other REST API: Xano, Supabase, etc</span>
          <a
            href="https://github.com/queen-raae/galleon-attributes"
            type="button"
            class="flex-initial rounded-sm bg-orange-600 px-2 py-1 text-xs font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
            >Start using today</a
          >
        </small>
      </div>

      <!--- Galleon Your Idea --->
      <div
        class:list={[
          "row-span-1 lg:col-span-2",
          "rounded-b-2xl lg:rounded-none lg:rounded-br-2xl",
        ]}
      >
        <h2 class="mt-2 text-lg font-medium tracking-tight text-gray-950">
          Galleon {`<your idea here>`}
        </h2>
        <p class="mt-2 max-w-lg text-base/6 text-gray-600">
          Let us know what you'd like to see!
        </p>
      </div>
    </section>
  </main>
</Layout>
